
.social-icons {
    font-size: 30px; /* Aumentar el tamaño de los íconos a 30px o cualquier otro tamaño deseado */
    display: flex;
    justify-content: center; /* Centrar horizontalmente los íconos */
    align-items: center; /* Centrar verticalmente los íconos */
  }
  
  .social-icons a {
    margin: 0 20px;
    color: #007bff;
  };

