<div class="navbarmobil">
    <div class="navbarmobil__hamburguer" (click)="toggleNavbar()">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_51_1145)">
            <path d="M0 6H30M0 15H30M0 24H30" stroke="#20ADD8" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_51_1145">
            <rect width="30" height="24" fill="white"/>
            </clipPath>
            </defs>
            </svg>            
    </div>
    <div class="navbarmobil__links" [@inOutTrigger]="navstate">
        <ul>
            <li class="navbarmobil__links-li"><a href="#home" class="navbarmobil__links-link">Home</a></li>
            <li class="navbarmobil__links-li"><a href="#nosotros" class="navbarmobil__links-link">Nosotros</a></li>
            <li class="navbarmobil__links-li"><a href="#servicio" class="navbarmobil__links-link">Servicios</a></li>
            <li class="navbarmobil__links-li"><a href="#contactanos" class="navbarmobil__links-link">Contactanos</a></li>
        </ul>
    </div>
    <div class="navbarmobil__logo">
        <img class="navbarmobil__logo-img" src="../../../assets/logo.png" alt="logo cayama">
    </div>
    
</div>
<div class="navbardesktop">
    <div class="navbardesktop__logo">
        <img class="navbardesktop__logo-img" src="../../../assets/logo.png" alt="logo cayama">
    </div>
    <div class="navbardesktop__links">
        <ul class="navbardesktop__links-ul">
            <li><a href="#home" class="navbardesktop__links-link">Home</a></li>
            <li><a href="#nosotros" class="navbardesktop__links-link">Nosotros</a></li>
            <li><a href="#servicio" class="navbardesktop__links-link">Servicios</a></li>
            <li><a href="#contactanos" class="navbardesktop__links-link">Contactanos</a></li>
        </ul>
    </div>
</div>