<div class="services">
    <div class="services__description">
        <div class="services__description-title">
            <h2>Que ofrecemos?</h2>
        </div>
        <div class="services__description-text">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor eius voluptate suscipit omnis, possimus voluptas porro, ipsa ratione aliquam magni deleniti vero autem praesentium dolore provident saepe reiciendis aliquid repellat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio impedit ipsa, nemo ad provident doloremque vero enim atque. Pariatur quas reiciendis, numquam sequi autem eligendi error delectus corporis aliquid distinctio!</p>
        </div>
    </div>
    <div class="services__visual">
        <img class="services__visual-img" src="../../../assets/services.png" alt="">
    </div>
</div>