<div class="servicios" id="servicio">
  <div class="servicios__description">
    <div class="servicios__description-title">
      <h2>¿Que ofrecemos?</h2>
    </div>
    <div class="servicios__description-app">
      <h3>CAYAMA APP</h3>
    </div>
    <div class="servicios__description-content">
      <p>
        Ofrece la oportunidad de poder realizar transacciones de forma segura y
        sencilla sin la necesidad de compartir datos sensibles de los clientes.
        Los emprendimientos digitales pueden ofrecer una forma sencilla de
        compra en la cual con un simple pago tendrá la seguridad de recibir el
        producto deseado o en su defecto tener su dinero a salvo, la transacción
        finaliza con un intercambio digital que garantiza igualdad para ambas
        partes

        
      </p>
    </div>
    <!-- <div class="servicios__description-link">
      <a href="">< Prueba nuestra App </a>
    </div> -->
  </div>
  <div class="servicios__logo">
    <img src="../../../assets/services.png" alt="CAYAMA-LOGO" />
  </div>
</div>
