.services {
    height: 100vh;
    width: 100vw;
    font-family: 'Work Sans', sans-serif;
    background-color: #000;
    color: #B6C2D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 20px;

    &__description {
        //background-color: green;
        padding: 10px;
        height: 60%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &-title {
            padding: 5px;
            color: #4D7EA8;
        }
        &-link{
            z-index: 10;
            color: #4D7EA8;
        }
        &-app{
            z-index: 10;
        }
    }

    &__visual {
        width: 100%;
        margin-top: 10px;
        //background-color: aqua;
        display: flex;
        justify-content: center;
        align-items: center;

        &-img {
            width: 200px;
            height: 200px;
        }
    }
}

@media only screen and (min-width:760px) and (max-width: 1024px) {
    .services {
        flex-direction: row;
        &__description {
            &-title {}
        }

        &__visual {
            margin: 0px 20px;
            &-img {
                width: 250px;
                height: 250px;
            }
        }
    }
}

@media only screen and (min-width:1024px) {
    .services {
        font-size: 16px;
        flex-direction: row;
        &__description {
            width: max-content;
            padding: 10px 50px;
            &-title {}
        }

        &__visual {
            &-img {
                width: 300px;
                height: 300px;
            }
        }
    }
}