<div class="services">
    <div class="services__description">
        <div class="services__description-title">
            <h2>Que ofrecemos?</h2>
        </div>
        <div class="services__description-text">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, expedita, possimus ipsam, obcaecati sint iste libero numquam in maxime cumque voluptas eos sit. Vitae autem animi ea eveniet qui eum.</p>
        </div>
        <div class="services__description-apptitle">
            <h3>CAYAMA</h3>
        </div>
        <div class="services__description-app">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, in laboriosam molestiae nostrum eligendi delectus nesciunt earum expedita quibusdam ratione a asperiores, voluptatum nulla quaerat, est sit quae qui excepturi! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque quam repellendus in voluptas inventore amet, error sed recusandae labore, numquam quia rem nemo distinctio est? Et magni nesciunt consectetur nihil?</p>
        </div>
        <div class="services__description-link">
            <a href="#">Prueba nuestro App ></a>
        </div>
    </div>
    <div class="services__visual">
        <img class="services__visual-img" src="../../../assets/services.png" alt="">
    </div>
</div>