<div class="nosotros">
  <div class="nostros-desc">
    <h2>Nosotros</h2>
    <p>
      CAYAMA es una empresa innovadora que se dedica a ofrecer productos
      tecnológicos diseñados para abordar y mejorar los problemas relacionados
      con las finanzas. Nuestras soluciones tecnológicas están diseñadas para
      optimizar y simplificar los procesos financieros, brindando a nuestros
      clientes herramientas poderosas para enfrentar los desafíos que conlleva
      el mundo de las finanzas.
    </p>
  </div>
  <div class="cards">
    <div class="cards-colum">
      <div  class="icono-wrap" >
       
        <h3 class="text-info">Vision</h3>
        <div class="subrayo"></div>
        <p class="text-light ">
          Nuestra empresa se enorgullece de ofrecer una amplia gama de beneficios económicos para nuestros clientes. Al elegir nuestros servicios, nuestros clientes pueden experimentar un retorno de inversión significativo, gracias a la eficiencia y la calidad que caracterizan nuestros productos y soluciones.
        </p>
        <div class="card-img">
            <img src="../../../assets/vision.jfif" >
        </div>
        
      </div>
      <div class="icono-wrap" >
        
        <h3 class="text-info">Mision</h3>
        <div class="subrayo"></div>
        <p class="text-light">
          Nuestro producto se destaca por su vanguardia tecnológica, ya que incorpora las últimas y más avanzadas tecnologías disponibles en el mercado. Estamos constantemente actualizando y mejorando nuestra solución para mantenernos al día con los avances tecnológicos, asegurando que nuestros clientes se beneficien de las últimas innovaciones y tengan acceso a herramientas de vanguardia. 
        </p>
        <div class="card-img">
            <img src="../../../assets/mision.png">
        </div>
        
      </div>
      <div class="icono-wrap" >
        
        <h3 class="text-info">Estrategia</h3>
        <div class="subrayo"></div>
        <p class="text-light">
          Al trabajar con estrategia, nos aseguramos de que todas las partes interesadas estén involucradas y comprendan el propósito del proyecto, fomentando la colaboración y la comunicación efectiva. También asignamos roles y responsabilidades claramente definidos para un flujo de trabajo organizado y eficaz
        </p>
        <div class="card-img">
            <img src="../../../assets/estrategia.jfif">
        </div>
        
      </div>
      <div class="icono-wrap">
        
        <h3 class="text-info">Seguridad</h3>
        <div class="subrayo"></div>
        <p class="text-light">
          Con nuestro enfoque en la seguridad cibernética, puedes estar seguro de que tu página web estará protegida en todo momento, brindando una experiencia segura y confiable para tus usuarios. La seguridad es una prioridad en nuestra empresa de tecnología, y trabajamos arduamente para proteger tu negocio en el mundo digital.
        </p>
        <div class="card-img">
            <img src="../../../assets/seguridad.png">
        </div>
        
      </div>
    </div>
  </div>
</div>
