<div class="news-cards container">
    <div class="row  mx-auto caya-cards">
      <div  class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-start my-5 icono-wrap" >
        <img src="../../../assets/card2.webp" class="img-fluid img-mobile"/>
        <h3 class="text-info">Valor</h3>
        <p class="text-light ">
          Nuestra empresa se enorgullece de ofrecer una amplia gama de beneficios económicos para nuestros clientes. Al elegir nuestros servicios, nuestros clientes pueden experimentar un retorno de inversión significativo, gracias a la eficiencia y la calidad que caracterizan nuestros productos y soluciones.
        </p>
        <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-start my-5 icono-wrap" >
        <img src="../../../assets/card1.webp" class="img-fluid img-mobile"/>
        <h3 class="text-info">Tecnologia</h3>
        <p class="text-light">
          Nuestro producto se destaca por su vanguardia tecnológica, ya que incorpora las últimas y más avanzadas tecnologías disponibles en el mercado. Estamos constantemente actualizando y mejorando nuestra solución para mantenernos al día con los avances tecnológicos, asegurando que nuestros clientes se beneficien de las últimas innovaciones y tengan acceso a herramientas de vanguardia. 
        </p>
        <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-start my-5 icono-wrap" >
        <img src="../../../assets/card3.png"class="img-fluid img-mobile"/>
        <h3 class="text-info">Estrategia</h3>
        <p class="text-light">
          Al trabajar con estrategia, nos aseguramos de que todas las partes interesadas estén involucradas y comprendan el propósito del proyecto, fomentando la colaboración y la comunicación efectiva. También asignamos roles y responsabilidades claramente definidos para un flujo de trabajo organizado y eficaz
        </p>
        <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-start my-5 icono-wrap">
        <img src="../../../assets/card4.jpg" class="img-fluid img-mobile"/>
        <h3 class="text-info">Seguridad</h3>
        <p class="text-light">
          Con nuestro enfoque en la seguridad cibernética, puedes estar seguro de que tu página web estará protegida en todo momento, brindando una experiencia segura y confiable para tus usuarios. La seguridad es una prioridad en nuestra empresa de tecnología, y trabajamos arduamente para proteger tu negocio en el mundo digital.
        </p>
        <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
      </div>
    </div>
  </div>