<div class="contactanos" id="contactanos">
  <div class="contact-desc">
    <h2>Contact US</h2>
    <p>
      Por favor contactanos via este formulario o llamenos al 
      <strong>+51 924214977</strong>  cayamaperu@gmail.com
    </p>
    <div class="social-media">
      <p>Find us on:</p>
      <!-- Icono de WhatsApp -->
      <a href="https://api.whatsapp.com/send?phone=123456789" target="_blank" class="social-icon">
        <i class="fab fa-whatsapp"></i>
      </a>
      <!-- Icono de LinkedIn -->
      <a href="https://www.linkedin.com/" target="_blank" class="social-icon">
        <i class="fab fa-linkedin"></i>
      </a>
      <!-- Icono de Instagram -->
      <a href="https://www.instagram.com/cayamape/" target="_blank" class="social-icon">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
  <div class="contact-form">
    <form action="">
      <p>
        <input
          type="text"
          class="input-form"
          name="fullname"
          placeholder="name*"
        />
      </p>
      <p>
        <input
          type="email"
          class="input-form"
          name="email"
          placeholder="email*"
        />
      </p>

      <p class="block">
        <textarea
          name="message"
          rows="6"
          placeholder="Type your message here ..."
        ></textarea>
      </p>
      <p class="button-form">
        <button>Enviar</button>
      </p>
    </form>
  </div>
</div>
